body {
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  font: Verdana,
  size: 50px;
}

h2 {
  font: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

p {
  font: Verdana;
  size: 21px;
  color: gray;
}

a {
  color: Aquamarine;
  size:16px;
}

footer {
  text-align: right;
  color: gray;
}
